nav {
	background: $dark-grey;
	position: sticky !important;
	top: 0;
	z-index: 1;
	.nav-link {
		color: #fff !important;
		font-weight: bold;
	}
}

.navbar-brand {
	padding-bottom: 8px;
	.logo {
		color: $white;
		font-size: 2rem;
	}
}

.navbar-toggler {
	border: 0;
	&:focus {
		outline: none;
	}
	.bars {
		color: $white;
	}
}