<template>
	<div ref="capital">{{capital}}</div>
</template>

<script>

export default {
    name: 'DeleteAccount',
    props: {
    },
	data: function () {
		return {
			capital: 0
		}
	},
	mounted() {
		var self = this;

		fetch("https://blockchain.info/tobtc?currency=eur&value=1")
			.then(res => res.json())
			.then((data) => {
				console.log(data.responseText)
				self.capital = bitcoinCapital(localStorage.getItem("yourBitcoins") , response.responseText).toFixed(2)
			})
			.catch(err => {
				
			})
	},
}
</script>