<template>
    <section id="bitcoin-dashboard" class="view">
        <article class="row teaser">
            <h2>{{ headline }}</h2>
            <article class="col-12">
                <div class="yourBitcoins">
                    <div class="column">
                        <h3>Ihr Gesamtvermögen</h3>
                    </div>
                    <div class="column">
                        <span>{{formatPrice(capital)}} Euro</span>
                        <svg class="icon tendency" v-bind:class="[tendencyClass]" focusable="false">
                            <title>Tendenz, seit dem letzten Aufruf der Seite</title>
                            <use xlink:href="#svg-arrow" title="Tendenz"></use>
                        </svg>
                    </div>
                </div>
            </article>
            <article v-for="bitcoin in bitcoins" :key="bitcoin.country" class="col-lg-6 col-md-6 col-sm-12">
                <div>
                    <h3>{{ bitcoin.country }}</h3>
                    <div class="row">
                        <DashboardCurrencyItem v-bind:headline="'Letzte'" v-bind:value="bitcoin.last" v-bind:symbol="bitcoin.symbol"></DashboardCurrencyItem>
                        <DashboardCurrencyItem v-bind:headline="'Einkauf'" v-bind:value="bitcoin.buy" v-bind:symbol="bitcoin.symbol"></DashboardCurrencyItem>
                        <DashboardCurrencyItem v-bind:headline="'Verkauf'" v-bind:value="bitcoin.sell" v-bind:symbol="bitcoin.symbol"></DashboardCurrencyItem>
                    </div>
                </div>
            </article>
        </article>
    </section>
</template>

<script>
import DashboardCurrencyItem from "./DashboardCurrencyItem";

export default {
    name: 'Dashboard',
    props: [
        "capital",
		"tendencyClass",
		"capitalTendencyPercent"
    ],
	components: {
		DashboardCurrencyItem
	},
	data: function() {
		return {
			headline: 'Dashboard',
			bitcoins: [],
			capitalTendency: 0,
		}
	},
	methods: {
		formatPrice: function(value) {
			let val = (value/1).toFixed(2).replace('.', ',')
			return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
		},
		percent: function(value) {
			let val = value.toFixed(3).replace('.', ',');
			return val.toString();
		},
		country: function(datas, dCountry, sCountry) {
			dCountry["country"] = sCountry;
			datas.push(dCountry);

		}
	},
	mounted() { // when the Vue app is booted up, this is run automatically.
		var self = this // create a closure to access component in the callback below
		var datas = [];
		
		fetch("https://blockchain.info/ticker")
			.then(res => res.json())
			.then((data) => {
				self.country(datas, data.USD, "USD")
				self.country(datas, data.CHF, "CHF")
				self.country(datas, data.PLN, "PLN")
				self.country(datas, data.GBP, "GBP")
				self.country(datas, data.JPY, "JPY")
				self.country(datas, data.THB, "THB")
	
				self.bitcoins = datas;
	
			})

	}
}
</script>