<template>
	<button v-on:click="deleteAccount" class="btn btn-warning mb-3">Konto leeren</button>
</template>

<script>

export default {
    name: 'DeleteAccount',
    props: {
    },
	data: function () {
		return {
			count: 0
		}
	},
	methods: {
		deleteAccount() {
			if(confirm("Wollen Sie Ihr Konto wirklich leeren?")) {
				localStorage.clear()
				window.location.href = "";			
			}
		}
	},
}
</script>