<template>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">
            <svg class="icon logo" focusable="false">
                <use xlink:href="#svg-logo" title="Bitcoin Demo"></use>
            </svg>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <svg class="icon bars" focusable="false">
                <use xlink:href="#svg-bars" title="Menu"></use>
            </svg>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <router-link class="nav-link" to="#bitcoin-dashboard">Dashboard</router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" to="#bitcoin-details">Bitcoin Details</router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" to="#bitcoin-converter">Bitcoin Konverter</router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" to="#bitcoin-diagramm">Bitcoin Digramm</router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" to="#bitcoin-my">Mein Bitcoin</router-link>
                </li>
            </ul>
        </div>
    </nav>
</template>

<script>

import Vue from 'vue'
import VueRouter from 'vue-router'

Vue.use(VueRouter)

export default {
    name: 'Navigation',
    props: {
    }
}
</script>
